<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="/css/styles.css" th:href="@{/css/styles.css}"/>
</head>
<body>
<h5>Login page</h5>
<p th:if="${loginError}" class="error">Wrong username or password</p>
<form th:action="@{/login}" method="post">
    <label for="username">Username</label>:
    <input type="text" id="username" name="username" autofocus="autofocus"/><br><br>
    <label for="password">Password</label>:
    <input type="password" id="password" name="password"/><br><br>
    <input type="submit" value="Sing In"/>
</form>
<p>Back to <a href="/index" th:href="@{/index}">main page</a></p>
</body>
</html>
