<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="/css/styles.css" th:href="@{/css/styles.css}"/>
</head>
<body>
<div th:replace="index::logout"></div>
<h5>Client application secured page</h5>
<p><a href="/data" th:href="@{/data}">Secured resource server</a></p>
<p>You will be redirected to authorization server for entering credentials</p>
<p>Back to <a href="/index" th:href="@{/index}">main page</a></p>
</body>
</html>
